<div class="features-grid-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 feature">
        <img src="{{site.baseurl}}/assets/img/circle-icons/full-color/train.png" alt="train" />
        <strong>Rails Standards</strong>
        <p>If you choose to use Ruby on Rails, you'll find all the normal expectations of MVC development in place. We help you deal with the API contract, then get out of your way.</p>
      </div>
      <div class="col-md-4 feature">
        <img src="{{site.baseurl}}/assets/img/circle-icons/full-color/cloud.png" alt="cloud" />
        <strong>Easy Microservices</strong>
        <p>Because the API contract is standardized, the <a target="_blank" href="https://martinfowler.com/bliki/MicroservicePremium.html">microservice premium</a> is drastically lowered. Build quick, lightweight APIs without the hassle.</a>
      </div>
      <div class="col-md-4 feature">
        <img src="{{site.baseurl}}/assets/img/circle-icons/full-color/smartphone.png" alt="smartphone" />
        <strong>One API, Many Clients</strong>
        <p>The API for your website should be the same API for your mobile app or ETL process. Flexible APIs enable easy re-use across a variety of use-cases.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 feature">
        <img src="{{site.baseurl}}/assets/img/circle-icons/full-color/tools.png" alt="tools" />
        <strong>Client Support</strong>
        <p>We offer an ActiveRecord-like isomorphic javascript client in <a target="_blank" href="https://jsonapi-suite.github.io/jsorm/">JSORM</a>. Ruby and Python clients are upcoming.</p>
      </div>
      <div class="col-md-4 feature">
        <img src="{{site.baseurl}}/assets/img/circle-icons/full-color/caution.png" alt="caution" />
        <strong>Error Handling</strong>
        <p>Always render valid JSONAPI-compliant error responses. Use a simple DSL to customize messages and response codes.</p>
      </div>
      <div class="col-md-4 feature">
        <img src="{{site.baseurl}}/assets/img/circle-icons/full-color/document.png" alt="document" />
        <strong>Automatic Documentation</strong>
        <p>Full <a target="_blank" href="https://swagger.io/">Swagger</a> documentation enabled with one line of code. Use <a target="_blank" href="https://swagger.io/using-swagger-to-detect-breaking-api-changes/">swagger-diff</a> for an extra level of backwards-compatibility check.</p>
      </div>
    </div>
  </div>
</div>
