<div class="features-tabs-section">
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
        <h3>Batteries Included</h3>
        <p>From server to client, we've got you covered.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 tabs-wrapper">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#home" data-toggle="tab">Develop with Ease</a></li>
          <li><a href="#profile" data-toggle="tab">Customize Thoroughly</a></li>
          <li><a href="#messages" data-toggle="tab">Test Real-World Usage</a></li>
          <li><a href="#settings" data-toggle="tab">REST across Relationships</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade in active" id="home">
            <div class="col-md-6 info">
              <h4>Up and Running in Minutes</h4>
              <p>
                Everything you want from an API - filtering, sorting, pagination, statistics and more - comes "out of the box". Common problems are solved in a common way, leaving you more time to tend to your domain and focus on client needs.
              </p>
              <p>
                Don't worry - this isn't a straightjacket, just a grouping of sensible defaults.
              </p>
            </div>
            <div class="col-md-6 image">
              <img src="{{site.baseurl}}/assets/img/easy.jpg" class="img-responsive" alt="pic1" />
            </div>
          </div>
          <div class="tab-pane fade" id="profile">
            <div class="col-md-6 image">
              <img src="{{site.baseurl}}/assets/img/customize2.png" class="img-responsive" alt="pic2" />
            </div>
            <div class="col-md-6 info">
              <h4>Custom sorting logic? MongoDB? No problem.</h4>
              <p>
                JSONAPI Suite was built for customization. We provide out-of-the-box defaults, but everything can be overridden. You can even package your overrides into an <strong>adapter</strong> to DRY up code.
              </p>
              <p>
                We take care of wiring up the API contract. You take care of your domain.
              </p>
            </div>
          </div>
          <div class="tab-pane fade" id="messages">
            <div class="col-md-6 info">
              <h4>Full-Stack RSpec Integration Tests</h4>
              <p>
                Whether you're a hardcore TDD engineer or throwing up a quick prototype, we'll provide patterns for easy-to-write integration tests than ensure backwards-compatibility.
              </p>
              <p>
                We're not just validating schemas or stubbing critical integration points. Test your API fully - a real server, a real database, and robust assertions on full JSON payloads.
              </p>
            </div>
            <div class="col-md-6 image">
              <img src="{{site.baseurl}}/assets/img/rspec2.png" class="img-responsive" style="position: relative;top: 15px;" alt="pic3" />
            </div>
          </div>
          <div class="tab-pane fade" id="settings">
            <div class="col-md-6 image solution">
              <img src="{{site.baseurl}}/assets/img/solutions.jpeg" class="img-responsive" alt="pic4" />
            </div>
            <div class="col-md-6 info">
              <h4>Problem Solved.</h4>
              <p>
                One of the problems with REST has always been compound documents. What if you need to save your Post and its Tags within the same transaction? What if you need a single request to fetch the Post and its last three active Tags?
              </p>
              <p>
                JSONAPI Suite standardizes patterns for cross-relationship reads and writes, providing out-of-the-box functionality and one more thing you no longer have to worry about.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
