<div class="main-footer main-footer--dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 menu">
        <h3>Overview</h3>
        <ul>
          <li>
            <a href="{{site.baseurl}}/quickstart">Quickstart</a>
          </li>
          <li>
            <a href="{{site.baseurl}}/tutorial">Tutorial</a>
          </li>
          <li>
            <a href="{{site.baseurl}}/concepts">Concepts</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 menu">
        <h3>Resources</h3>
        <ul>
          <li>
            <a target="_blank" href="https://jsonapi-suite.github.io/jsonapi_compliable">YARD Documentation</a>
          </li>
          <li>
            <a target="_blank" href="https://join.slack.com/t/jsonapi-suite/shared_invite/enQtMjkyMTA3MDgxNTQzLWVkMDM3NTlmNTIwODY2YWFkMGNiNzUzZGMzOTY3YmNmZjBhYzIyZWZlZTk4YmI1YTI0Y2M0OTZmZGYwN2QxZjg">Slack Chat</a>
          </li>
          <li>
            <a href="mailto:richmolj@gmail.com">Contact us</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 menu">
        <h3>Related</h3>
        <ul>
          <li>
            <a target="_blank" href="http://jsonapi.org">JSONAPI Spec</a>
          </li>
          <li>
            <a target="_blank" href="http://jsonapi-rb.org">jsonapi-rb</a>
          </li>
          <li>
            <a target="_blank" href="https://vuejs.org/">VueJS</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
