<header class="navbar navbar-inverse normal" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{site.baseurl}}/" class="navbar-brand">JSONAPI Suite</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a class="nav-link" href="{{site.baseurl}}/quickstart">Quickstart</a>
        </li>
        <li>
          <a class="nav-link" href="{{site.baseurl}}/tutorial">Tutorial</a>
        </li>
        <li>
          <a class="nav-link" href="{{site.baseurl}}/concepts">Concepts</a>
        </li>
        <li>
          <a class="nav-link" href="{{site.baseurl}}/ruby">Docs</a>
        </li>
        <li>
          <a class="nav-link" href="{{site.baseurl}}/js/home">Javascript Client</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right visible-md visible-lg">
        <li>
          <a href="https://github.com/jsonapi-suite/jsonapi_suite" class="button">Fork on Github</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
