<div markdown="1" class="ruby-toc col-md-3">
* [Installation]({{ site.baseurl }}/ruby/installation)
* [Understanding Resources]({{ site.baseurl }}/ruby/resources)
* Reads
  * [Basic Reads]({{ site.baseurl }}/ruby/reads/basic-reads)
  * [Sorting]({{ site.baseurl }}/ruby/reads/sorting)
  * [Pagination]({{ site.baseurl }}/ruby/reads/pagination)
  * [Filtering]({{ site.baseurl }}/ruby/reads/filtering)
  * [Fieldsets]({{ site.baseurl }}/ruby/reads/fieldsets)
  * [Statistics]({{ site.baseurl }}/ruby/reads/statistics)
  * [ActiveRecord Associations]({{ site.baseurl }}/ruby/reads/activerecord-associations)
  * [Querying Relationships]({{ site.baseurl }}/ruby/reads/nested)
  * [Serializers]({{ site.baseurl }}/ruby/reads/serializers)
  * [Default Behavior]({{ site.baseurl }}/ruby/reads/default-behavior)
* Writes
  * [Basic Writes]({{ site.baseurl }}/ruby/writes/basic-writes)
  * [Validations]({{ site.baseurl }}/ruby/writes/validations)
  * [Strong Resources]({{site.baseurl}}/ruby/writes/strong-resources)
  * [Nested Writes]({{site.baseurl}}/ruby/writes/nested-writes)
  * [Side Effects]({{site.baseurl}}/ruby/writes/side-effects)
* [Alternate Datastores]({{site.baseurl}}/ruby/alternate-datastores)
  * [ElasticSearch]({{site.baseurl}}/ruby/alternate-datastores/elasticsearch)
  * [HTTP Services]({{site.baseurl}}/ruby/alternate-datastores/http)
  * [Adapters]({{site.baseurl}}/ruby/alternate-datastores/adapters)
* [Scoping to Current User]({{site.baseurl}}/ruby/scoping-to-current-user)
* [Backwards Compatibility]({{site.baseurl}}/ruby/backwards-compatibility)
* [Swagger]({{site.baseurl}}/ruby/swagger)
* [Integration Testing]({{site.baseurl}}/ruby/testing)
* [Error Handling]({{site.baseurl}}/ruby/error-handling)
</div>
