{% if page.url == "/tutorials/index.html" %}
  {% assign entries = site.tutorials | sort: "number" %}
{% else %}
  {% assign entries = site.entries | sort: "number" %}
{% endif %}

{% for entry in entries %}
    {% if entry.title != 'index'%}
        <section id="{{ entry.sectionid }}" class="{{ entry.sectionclass }}">
            {% case entry.sectionclass %}
                {% when 'h1' %}
                  <h1><a href="#{{ entry.sectionid }}" name="{{ entry.sectionid }}">{{ entry.title }}</a></h1>
                {% when 'h2' %}
                  <h2><a href="#{{ entry.sectionid }}" name="{{ entry.sectionid }}">{{ entry.title }}</a></h2>
                {% when 'h3' %}
                  <h3><a href="#{{ entry.sectionid }}" name="{{ entry.sectionid }}">{{ entry.title }}</a></h3>
                {% when 'h4' %}
                  <h4><a href="#{{ entry.sectionid }}" name="{{ entry.sectionid }}">{{ entry.title }}</a></h4>
            {% endcase %}

            {{ entry.content | markdownify }}
        </section>
    {% endif %}
{% endfor %}
