body{
  font: 14px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-weight: 300 !important;
  line-height: 2;
  background: $white;
  color: #595959;
}

.overview {
  background: url("/img/vertical_cloth.png") !important;
  box-shadow: inset -3px -7px 21px 7px rgba(0,0,0,0.5);
  border-right: none !important;

  a {
    font-family: roboto !important;
    font-weight: 200 !important;
    color: #f5f5f5 !important;
  }
}

.overview ul#nav li {
  padding-left: 1rem;
}

.overview ul#nav li {
  border-bottom: none;
  letter-spacing: 1px;

  &.current {
    a {
      color: $orange !important;
      font-size: 110%;
      font-weight: 300;
    }
  }

  a {
    letter-spacing: 1px;
    font-size: 80%;
    font-family: roboto;
    font-weight: 200;
    border-bottom: none;
  }

  li a {
    padding: 8px 30px !important;
  }
}

.content {
  ul {
    margin: 2rem 0 2rem 2rem;
    list-style-type: disc;

    li {
      margin-top: 10px;
    }
  }

  code.highlighter-rouge {
    margin-top: -0.2rem;
    padding: 0rem 0.5rem;
    border-radius: 5px;
    box-shadow: inset 0 1px 4px rgba(0,0,0,0.5);
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5rem;
  }

  pre {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: inset 0 1px 10px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1);

  }
}

.note-spacer {
  height: 300px;
}

.note {
  $notebg: #37474f;
  $darkbg: darken($notebg, 10%);
  &:before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    border-color: transparent $darkbg $darkbg transparent;
    border-style: solid;
    border-width: 10px;
    width: 0;
    height: 0;
  }

  box-shadow: -5px 4px 15px -4px black;
  padding: 3rem !important;
  width: calc(100% + 20px);
  position: absolute;
  left: -20px;
  border-left: 1ps solid black;

  h6 {
    margin-bottom: 0.5rem;
  }

  a {
    color: #4fc3f7;
  }

  code.highlighter-rouge {
    color: #595959;
    background-color: #f8f8f8;
  }

  p {
    color:  #f8f8f8 !important;
  }

  &.info {
    background: $notebg;
  }
}

.container{
    max-width: 100%;
    position: relative;
    margin: 0 auto;
}

.overview{
    width: 320px;
    font-size: 18px;
}

.content{
    counter-reset: h1-counter;
    width: calc(100% - 320px);
    position: absolute;
    right: 0;
    
    @media screen and (max-width: $sidebar-collapse){
        width: 100%;
    }

    .toggle{
        position: absolute;
        top: 5px;
        left: 5px;
    }
}

section{

    &:last-of-type{
        padding-bottom: 300px;
    }

    > p,
    > ul,
    > ol,
    > div{
        text-align: justify;
        padding-left: 5%;
        padding-right: 5%;
        box-sizing: border-box;
    }

    pre {
        margin-left: 5%;
        margin-right: 5%;
    }
    > ol{
        padding-left: calc(5% + 40px);
    }
}

h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
    font-weight: $bold;
    line-height: 1;
    color: $orange;

    a {
      border-bottom: none !important;
    }
}

h1 {
    font-size: 3.1em;
    padding: 30px 0 0;
    text-align: right;
    border-bottom: $orange 9px solid;
    width: 100%;
    line-height: 0.61;
    margin: 0 0 20px;

    &:before {
        content: counter(h1-counter) " ";
    }
}

.h1{
    counter-increment: h1-counter;
    counter-reset: h2-counter;
    padding-top: 80px;
}

h2 {
    font-size: 2em;
    padding: 30px 0 0;
    width: 90%;
    text-align: center;
    border-bottom: 5px solid $orange;
    margin: 0 auto 20px;
    line-height: 0.63;

    &:before {
        content: counter(h1-counter) "." counter(h2-counter) " ";
    }
}

.h2{
    counter-increment: h2-counter;
    counter-reset: h3-counter;
    padding-top: 60px;
}


h3{
    font-size: 1.7em;
    padding: 20px 0 0;
    width: 90%;
    text-align: left;
    border-bottom: 4px solid $orange;
    margin: 0 auto 20px;
    line-height: 0.65;

    &:before {
        content: counter(h1-counter) "." counter(h2-counter) "." counter(h3-counter) " ";
    }
}

.h3{
    counter-increment: h3-counter;
    counter-reset: h4-counter;
    padding-top: 40px;
}

h4{
    font-size: 1.5em;
    padding: 18px 0 0;
    width: 90%;
    text-align: left;
    border-bottom: 3px solid $orange;
    margin: 0 auto 18px;
    line-height: 0.67;

    &:before {
        content: counter(h1-counter) "." counter(h2-counter) "." counter(h3-counter) "." counter(h4-counter) " ";
    }
}

.h4{
    counter-increment: h4-counter;
    counter-reset: h5-counter 1;
    padding-top: 30px;
}


h5{
    font-size: 1.3em;
    padding: 40px 0 0;
    width: 90%;
    text-align: left;
    border-bottom: 2px solid $orange;
    margin: 0 auto 15px;
    line-height: 0.68;

    &:before {
        content: counter(h1-counter) "." counter(h2-counter) "." counter(h3-counter) "." counter(h4-counter) "." counter(h5-counter) " ";
    }
}


a{
    transition: .3s all;
    color: $orange;
    text-decoration: none;

    .content &{
        border-bottom: none;
        padding: 0px 2px;

        &:hover{
            /*border-bottom: transparent 1px solid;*/
        }
    }

    &:hover{
        color: $darkorange;
    }
}

section p a, section ul a {
  color: #2196f3;
}

img{
    display: block;
    max-width: 100%;
    margin: 20px 0;
}

code{
    font-family: 'Source Code Pro', 'Courier New', monospace;
}

.video_container{
    margin: 30px auto;
    @include paddinghack(90%, 894, 510);

    iframe{
        @extend %paddinghack;
    }
}

#intro{
    padding-top: 20px;
}

code,
pre{
    white-space: pre-wrap;
    border-radius: 0px;
    border: 0;
}

iframe{
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    width: 100%;
}

p + p{
    margin-top: 20px;
}
