header{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;

    span{
        font-size: 110%;
        display: block;
        letter-spacing: 3px;
        color: $white;
        transform: scale(1, 1.2);
    }
}
