@import "modules/mixins";
@import "modules/elements";
@import "modules/buttons";

/* vendor */
@import "bootstrap/bootstrap";
@import "bootstrap/overrides";

/* config variables */
@import "partials/config";

/* layout */
@import "partials/layout";

/* snippets */
@import "partials/snippets/features";
@import "partials/snippets/slider";

/* pages */
@import "partials/pages/index";
@import "partials/pages/index2";
@import "partials/pages/index3";
@import "partials/pages/features";
@import "partials/pages/services";
@import "partials/pages/signup";
@import "partials/pages/signup_rotate";
@import "partials/pages/blog";
@import "partials/pages/blog_cols";
@import "partials/pages/blog_timeline";
@import "partials/pages/blogpost";
@import "partials/pages/pricing";
@import "partials/pages/charts";
@import "partials/pages/aboutus";
@import "partials/pages/contactus";
@import "partials/pages/status";
@import "partials/pages/gallery";
@import "partials/pages/portfolio";
@import "partials/pages/portfolio_item";
@import "partials/pages/support";
@import "partials/pages/404";
@import "partials/pages/coming_soon";
@import "partials/pages/docs";
@import "partials/pages/invoice";
@import "partials/pages/timeline";

#docs {
  #guide {
    margin-top: 70px;
  }

  #api-docs {
    margin-left: 200px !important;
    margin-top: -20px !important;
  }
}

.index-sidebar-hero .cta a.button {
  padding: 12px 30px;
}

.nav-menu .main-menu {
  h4 {
    color: darken(white, 10%);
    margin-left: 5rem;
  }

  ul {
    margin-top: 2rem;
  }

  ul li a {
    padding-left: 3rem;
  }
}

body {
  background: #414B5B;
  font-size: 15px;
  line-height: 1.5;

  .page-content {
    background: white;
  }
}

#next {
  float: right;
  margin: 40px 0 40px 0;
}

h1, h2 {
  color: black;

  a, a:hover {
    color: black;
    text-decoration: none;
    position: relative;
  }

  a {
    &:hover {
      &:before {
        content: '\00b6';
        position: absolute;
        left: -18px;
        color: grey;
        font-size: 18px;
        font-family: sans-serif;
        top: 4px;
      }
    }
  }
}

h3, h4, h5 {
  color: #727272;

  a, a:hover {
    color: #727272;
    text-decoration: none;

  }
}

h4 {
  margin-top: 40px;
  border-bottom: 1px solid #f0f0f0;
}

.main-footer {
  margin-top: 0;
}

.get-started {
  margin-top: 40px;
  padding: 40px 20px;
  background: -webkit-linear-gradient(top, #355069 0, #5E7A9B 100%);
  /*background: radial-gradient(#36414E, #253241);*/

  font-size: 16px;
  color: #f8f8f8;
  font-weight: 400;
  line-height: 25px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  h2 {
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  a {
    color: #90CAF9;
  }
}

#docs #api-docs #methods .method .method-section {
  padding-top: 0;
}

// hack bc I can't get jekyll variables in sass atm
#cover-image {
  &.prod-bg {
    background-image: url("/jsonapi_suite/assets/img/sunrise.png") !important;
  }

  &.dev-bg {
    background-image: url("/assets/img/sunrise.png") !important;
  }
}

.solution {
  img {
    margin-left: 30px !important;
    height: 300px;
  }
}

pre {
  background: #292E33;

  code.hljs {
    background: #292E33;
    color: lighten(#DAE4F2, 5%);
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

img[alt=github] {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.js-toc, .ruby-toc, blockquote {
  background: #f7f8fb;
  border: 1px solid #eaedf7;
  border-radius: 5px;
  padding: 10px;
  line-height: 1.8;
}

.ruby-toc {
  ul {
    padding-left: 25px;
  }
}

.ruby-toc + div {
  margin-bottom: 20px;
  font-size: 16px;
}

blockquote {
  &.url {
    font-size: 14px;
    color: grey;
    margin-top: -12px;
  }
}

ul ul { // toc
  padding-left: 20px;
}

pre.highlight, pre.hljs {
  code {
    &.coffeescript, &.cs, &.javascript, &.js, &.ts, &.php {
      [class*=built_in] {
        color: lighten(#9AB4DB, 5%);
      }
      [class*=string] {
        color: lightgreen;
      }
      [class*=attribute] {
        color: white;
      }
      [class*=keyword] {
        color: lighten(brown, 30%);
        font-weight: 600;
      }
      [class*=literal] {
        color: lighten(red, 30%);
      }
      [class*=c1] {
        color: #B4B4B4;
      }
      [class*=constant] {
        color: #FFDF9D;
      }
      [class*=nx] {
        color: saturate(#9ECBEE, 20%);
        font-weight: 600;
      }
    }

    &.typescript {
      [class*=kr] {
        color: desaturate(yellow, 30%);
      }
    }

    &.ruby {
      .class .title, .class .parent {
        color: #FFDF9D;
      }

      [class*=keyword] {
        color: lighten(red, 25%);
      }
      [class*=kp] {
        color: lighten(red, 25%);
      }
      [class*=string] {
        color: lightgreen;
      }
      [class*=comment] {
        color: #B4B4B4;
      }
      [class*=constant] {
        color: #FFDF9D;
      }
      [class*=symbol] {
        color: #9ECBEE;
      }
    }
  }
}

img[alt=glimmer_logo] {
  margin: 0 auto;
  width: 200px;
  display: block;
  margin-bottom: 4em;
}

.tabs {
  background: #f8f8f8;
  border-radius: 3px;

  .tab {
    background-color: #f8f8f8;
    font-weight: 500;
    color: #555;
    display: inline-block;
    padding: 18px 25px;
    margin-top: 10px;
    cursor: pointer;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -ms-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;

    &.active {
      background-color: #fff;
      border: 1px solid #e8e8e8;
      border-radius: 5px 5px 0 0;
      border-bottom: 0;
    }
  }
}

.highlight {
  $generic: #edf2f9;
  $comment: #9c9c9c;
  $yellow: #e6eb9d;
  $blue: #a2dcff;

  pre {
    code {
      font-size: 14px;
      line-height: 1.5;
    }
  }

  .language-ruby {
    .n {
      color: white;
    }

    .c1 {
      color: $comment;
    }

    .ss {
      color: $blue;
      font-weight: 600;
    }

    .k, .kp {
      color: #ff8080;
    }

    .p {
      color: white;
    }

    .nc, .no {
      color: $yellow;
      font-weight: 600;
    }

    .o, .si, .nf {
      color: white;
    }

    .s1, .s2 {
      color: lightgreen;
      font-weight: 600;
    }

    .vi, .mi, .nb {
      color: lighten(#ff66d9, 10%);
      font-weight: 600;
    }
  }

  .language-typescript, .language-javascript {
    .kd {
      color: $generic;
      font-weight: 600;
    }

    .o {
      color: $generic;
    }

    .p {
      color: $generic;
    }

    .nx, .nd {
      color: $blue;
      font-weight: 600;
    }

    .nb {
      color: white;
    }

    .kc {
      color: $yellow;
    }

    .kr {
      color: lighten(#008080, 20%);
    }

    .c1 {
      color: #9c9c9c;
    }

    .k {
      color: #ff66d9;
    }

    .err {
      font-weight: 600;
      color: $yellow;
    }

    .na, .nl {
      color: #ff66d9;
    }

    .s1, .s2 {
      color: lightgreen;
      font-weight: 600;
    }

    .mi {
      color: $yellow;
    }
  }

  .language-bash {
    color: white;
  }

  .language-javascript {
    .k {
      color: $yellow !important;
    }
  }
}

// TODO
body {
  background-color: white;
}

.home {
  $base: 16px;

  width: 95%;
  margin: 0 auto;
  text-align: center;
  font-size: $base;
  line-height: 1.4;
  padding-top: 10px;
  z-index: 20;

  .skip-intro {
    position: absolute;
    right: 20px;
    padding: 3px 6px;
    font-size: 90%;
  }

  .start {
    margin-top: 40px;
  }

  // unused
  .img {
    position: absolute;
    background-repeat: no-repeat;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    background-position: 70% 10%;
    background-size: 40%;
  }

  .sample {
    .highlight pre code {
      font-size: 14px !important;
    }

    &.s {
      .highlight pre code {
        font-size: 11px !important;
      }
    }

    figure {
      &:last-child {
        margin-bottom: 18px;
      }
    }
  }

  .mag {
    color: darken(magenta, 5%);
  }

  .lg {
    color: grey;
  }

  .p {
    margin-bottom: 2.5rem;
  }

  .bold {
    font-weight: bold;
  }

  .italic {
    font-style: italic;
  }

  .underline {
    text-decoration: underline;
  }

  .s {
    font-size: $base*1.2;
  }

  .m {
    font-size: $base*1.6;
  }

  .l {
    font-size: $base*2;
  }

  .xl {
    font-size: $base*2.2;
  }

  .quote {
    margin-top: 5px;
    font-size: $base*1.2;
  }

  .highlight {
    text-align: left;

    pre {
      padding-bottom: 0;
    }
  }
}
