<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>

    <body>
        <div class="container">
            <div class="overview">
                <span class="toggle">close</span>
                {% include header.html %}
                {% include nav.html %}
            </div>

            <div class="content">
                <span class="toggle">open</span>
                {{ content }}
            </div>
        </div>

        <script src="js/jquery-2.1.1.min.js"></script>
        <script scr="js/jquery.scrollTo.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/scripts.js"></script>
        <!-- Google Analytics Tracking Code - replace with you own analytics code -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-50358022-3', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
