<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>

    <body>
        <div class="container">
            <div class="overview">
                <span class="toggle">close</span>
                {% include header.html %}
                {% include nav.html %}
            </div>

            <div class="content">
                <span class="toggle">open</span>
                {{ content }}
            </div>
        </div>

        <script src="{{ site.github.url }}/js/jquery-2.1.1.min.js"></script>
        <script scr="{{ site.github.url }}/js/jquery.scrollTo.js"></script>
        <script src="{{ site.github.url }}/js/jquery.nav.js"></script>
        <script src="{{ site.github.url }}/js/scripts.js"></script>
    </body>
</html>
